main{
    background-color: #1C1C1E;
    width: 100%;
    display: flex;
    font-family: Avenir Next, Helvetica, sans-serif;
}
#content{
    display: flex;
    width: calc(300px + 50vw);
    max-width: 1100px;
    background-color: #1C1C1E;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: inline-flex;
    width: 100%;
    margin-bottom: 80px;
}
#navspace{
    height: 90px;
    margin-bottom: 15px;
}
#r0{
    height: 50px;
    border-radius: 25px;
    background-color: #008156;
    margin-bottom: 15px;
}
#announce{
    margin: auto;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
#masthead{
    display: inline-flex;
    flex-direction: row;
    width: 120%;
    align-items: center;
}
#cta{
    display: inline-flex;
    flex-direction: column;
    width: 41.7%;
    max-width: 600px;
    align-items: start;
}
#qrc{
    display: flex;
    flex-direction:column;
    height: 360px;
    width: 310px;
    border-radius: 25px;
    background-color: #008156;
    justify-content: center;
    align-items: center;
}
h1, h2, h3{
    margin-bottom: 0;
    margin-top: 15px;
}
h1{
    font-size: 50px;
    color: white;
}
h2{
    font-size: 40px;
    color: white;
}
h3{
    font-size: 20px;
    color: white;
    font-weight: 400;
}
#mh1{
    font-size: 25pt;
    color: white;
    font-weight: 600;
}
#mh2{
    font-size: 15pt;
    color: white;
    font-weight: 600;
    width: auto;
    margin: 15px;
    margin-top: 0;
    text-align: center;
}
#qrx{
    padding-bottom: 25px;
}
#media{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    background-color: #3A3A3C;
    border-radius: 25px;
}
.medialogo{
    margin: auto;
}
.card{
    width: calc(100% - 100px);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    background-color:black;
    border-radius: 25px;
    padding: 50px;
}
.cardpic{
    width: 50%;
    height: 100%;
    background-color: black;

}
.cardblurb{
    display: inline-flex;
    width: 50%;
    background-color:black;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cardp{
    font-size: 20px;
    color: white;
    margin-bottom: 0;
    margin-top: 25px;
    flex-shrink: 1;
}
.squares{
    width: 100%;
    height: 400px;
    max-height: 700px;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between
}
.sqsingle{
    width: calc(50% - 40px);
    background-color: black;
    border-radius: 25px;
}
#sq1a{
}
#aboutcopy{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#abouth1{
    text-align: center;
    margin-bottom: 20px;
}
.aboutp{
    font-size: 25px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}
#team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#teamrow{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}
.teamcard{
    width: 30%;
    height: 100%;
    background-color:lightgoldenrodyellow;
    border-radius: 25px;
    height: 400px;
}