body {
    --main-bg: #1C1C1E;
    --main-bg-opaque: #1C1C1E88;
    background-color: var(--main-bg);
}
main{
    background-color: var(--main-bg);
    width: 100%;
    font-family: Avenir Next, Helvetica, sans-serif;
}
#content{
    width: calc(500px + 50vw);
    max-width: 1200px;
    background-color: var(--main-bg);
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: inline-flex;
    width: 100%;
    margin-bottom: 80px;
}

.nav-container {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0;
    -webkit-backdrop-filter: saturate(70%) blur(15px);
    backdrop-filter: saturate(70%) blur(15px);
    margin-bottom: 15px;
    margin: 0;
    height: 90px;
    width: 100%;
    background-color: var(--main-bg-opaque);
}
.nav {
    width: calc(500px + 50vw);
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
.nav-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
#r0{
    height: 50px;
    border-radius: 25px;
    background-color: #008156;
    margin-bottom: 15px;
}
#announce{
    margin: auto;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
#masthead{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
#cta{
    display: inline-flex;
    flex-direction: column;
    width: 45%;
    max-width: 600px;
    align-items: start;
}
#qrc{
    display: flex;
    flex-direction:column;
    height: 360px;
    width: 310px;
    border-radius: 25px;
    background-color: #008156;
    justify-content: center;
    align-items: center;
}
h1, h2, h3{
    margin-bottom: 0;
    margin-top: 15px;
}
h1{
    font-size: 50px;
    color: white;
}
h2{
    font-size: 40px;
    color: white;
}
h3{
    font-size: 20px;
    color: white;
    font-weight: 400;
}
#mh1{
    font-size: 25pt;
    color: white;
    font-weight: 600;
}
#mh2{
    font-size: 15pt;
    color: white;
    font-weight: 600;
    width: auto;
    margin: 15px;
    margin-top: 0;
    text-align: center;
}
#qrx{
    padding-bottom: 25px;
}
#media{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    background-color: #3A3A3C;
    border-radius: 25px;
}
.medialogo{
    margin: auto;
}
.card{
    width: calc(100% - 100px);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    background-color:black;
    border-radius: 25px;
    padding: 50px;
}
.cardpic{
    width: 50%;
    height: 100%;
    background-color: black;

}
.cardblurb{
    display: inline-flex;
    width: 50%;
    /* background-color:black; */
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cardp{
    font-size: 20px;
    color: white;
    margin-bottom: 0;
    margin-top: 25px;
    flex-shrink: 1;
}
.squares{
    width: 100%;
    height: 400px;
    max-height: 700px;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between
}
.sqsingle{
    width: calc(50% - 40px);
    background-color: black;
    border-radius: 25px;
}
#sq1a{
}
#aboutcopy{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#abouth1{
    text-align: center;
    margin-bottom: 20px;
}
.aboutp{
    font-size: 25px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}
#team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#teamrow{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}
.teamcard{
    display: flex;
    width: 30%;
    height: 100%;
    background-color:#444;
    border-radius: 25px;
    height: 400px;
    overflow: hidden;
}
.teamid{
    height: 100px;
    background-color:#3A3A3C;
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.teaminfo{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.teamname, .teamrole{
    margin-top: 0;
    color: white;
    margin-bottom: 12px;
}
.teamname{
    font-size: 20px;
    font-weight: 600;
}
.teamrole{
    font-size: 16px;
    font-weight: 400;
}
.teamli{
    background:seagreen;
    height: 50px;
    width: 50px;
    margin: 25px;
    border-radius: 25px;
    background-color: #0072b1;
}


#hiring{
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 25px;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#hiringh2{
    margin: 100px;
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
}
#hiringp{
    color: white;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 50px;
}
#hiringb{
    margin-bottom: 25px;
    background-color: #008156;
    padding: 15px;
}
.buttons{
    height: 50px;
    color: white;
    border-radius: 25px;
    border-width: 0px;
}
.buttons:hover{
    box-shadow: 1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white;
}   
#investors{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#investrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    margin-top: 10px;
}
.investor{
    max-width: 400px;
    min-width: 250px;
    width: 20%;
    height: 150px;
    background-color:lightsteelblue;
    border-radius: 25px;
    margin: 25px;
}